@font-face {
    font-family: 'TelenorRegular';
    src: url('fonts/telenorregular/telenorregular-webfont.eot');
    src: url('fonts/telenorregular/telenorregular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/telenorregular/telenorregular-webfont.woff') format('woff'),
         url('fonts/telenorregular/telenorregular-webfont.ttf') format('truetype'),
         url('fonts/telenorregular/telenorregular-webfont.svg#TelenorRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'TelenorLight';
    src: url('fonts/telenorlight/telenorlight-webfont.eot');
    src: url('fonts/telenorlight/telenorlight-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/telenorlight/telenorlight-webfont.woff') format('woff'),
         url('fonts/telenorlight/telenorlight-webfont.ttf') format('truetype'),
         url('fonts/telenorlight/telenorlight-webfont.svg#TelenorLight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'TelenorBold';
    src: url('fonts/telenorbold/telenor-bold-webfont.eot');
    src: url('fonts/telenorbold/telenor-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/telenorbold/telenor-bold-webfont.woff') format('woff'),
         url('fonts/telenorbold/telenor-bold-webfont.ttf') format('truetype'),
         url('fonts/telenorbold/telenor-bold-webfont.svg#TelenorBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'TelenorBoldItalic';
    src: url('fonts/telenorbolditalic/telenor-bolditalic-webfont.eot');
    src: url('fonts/telenorbolditalic/telenor-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/telenorbolditalic/telenor-bolditalic-webfont.woff') format('woff'),
         url('fonts/telenorbolditalic/telenor-bolditalic-webfont.ttf') format('truetype'),
         url('fonts/telenorbolditalic/telenor-bolditalic-webfont.svg#TelenorBoldItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'TelenorLightItalic';
    src: url('fonts/telenorlightitalic/telenorlight-italic-webfont.eot');
    src: url('fonts/telenorlightitalic/telenorlight-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/telenorlightitalic/telenorlight-italic-webfont.woff') format('woff'),
         url('fonts/telenorlightitalic/telenorlight-italic-webfont.ttf') format('truetype'),
         url('fonts/telenorlightitalic/telenorlight-italic-webfont.svg#TelenorBoldItalic') format('svg');
    font-weight: normal;
    font-style: normal;
}
